/*  Custom CSS for
    Podcast Generator

    by Randy Greene
    RG Creative
    http://discoverRG.com
 */

 /* Base Colors:
 //   white: #eee;
 //   gray: #B2D2D9;
 //   black: #333;
 //   teal: #3A8392;
 //   blue: #255DAD;
 */

body {
	margin-top: 50px;
	padding: 0 !important;
	background: #3A8392 url('../img/pattern_008.png');
	color: #eee;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 21px;
}

a {
	color: #B2D2D9;
}
a:hover {
	color: #eee;
}

.navbar.navbar-inverse.navbar-fixed-top {
	margin: 0;
}
.navbar-inverse .navbar-inner {
	background: #eee;
	border: 0;
}
.navbar-inverse .navbar-inner .container-fluid {
}
.navbar a.brand {
	display: inline-block;
	margin: 5px;
	padding: 10px 15px;
	border-radius: 4px;
	text-align: center;
	color: #255DAD;
	font-size: 28px;
	font-weight: 700;
	text-shadow: none;
}
.navbar a.brand:hover {
	color: #3A8392;
}
.navbar .nav {
	margin: 5px;
}
.navbar .nav > li {
	margin-right: 10px;
	border-radius: 4px;
	border-bottom: 3px solid #255DAD;
	box-sizing: border-box;
	transition: all .2s linear;
}
.navbar .nav > li:hover {
	background: #3A8392;
}
.navbar .nav > li:hover > p,
.navbar .nav > li:hover > p .navbar-link,
.navbar .nav > li:hover > a,
.navbar .nav > li:hover > a:hover {
	color: #eee !important;
}
.navbar .nav > li > p {
	margin: 0;
	padding: 10px 15px;
	color: #8a8a8a;
}
.navbar-inverse .nav > li > a,
.navbar-inverse .nav .active > a,
.navbar-inverse .nav-collapse .dropdown-menu a:hover {
	background: transparent;
	color: #8a8a8a;
	text-shadow: none;
	box-shadow: none;
}
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
	border-top-color: #8a8a8a;
	border-bottom-color: #8a8a8a;
}
.navbar-inverse .nav li.dropdown > a:hover .caret {
	border-top-color: #8a8a8a;
	border-bottom-color: #8a8a8a;
}
.navbar-inverse .navbar-link:hover,
.navbar-inverse .nav-collapse .nav > li > a:hover,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
	color: #363636;
	background: transparent;
	text-shadow: none;
	box-shadow: none;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
	color: #363636;
	background: transparent;
}
.dropdown-menu {
	text-align: left;
}

.jumbotron {
	padding: 100px 0;
	background: #255DAD;
	text-shadow: 0 0 3px #333;
}
.jumbotron p {
	font-size: 1.3em;
	line-height: normal;
}
.container-fluid.dark {
	padding: 25px 0;
	background: #333 url('../img/pattern_012.png');
}
.container.mainbody {
	padding: 25px 10px;
}
.centered {
	text-align: center;
}
.no-margin {
	margin: 0;
}
a.btn.btn-large {
	margin: 15px 45px;
	padding: 15px 30px;
}

.topseparator {
	padding: 10px 25px;
}

.rightbox {
	background: #eee;
	color: #333;
}
.rightbox a {
	color: #3A8392;
}
.rightbox a:hover {
	color: #255DAD;
}

.alert, .alert h4 {
	display: inline-block;
	margin-left: 10px;
	color: #eee;
	font-weight: bold;
	text-shadow: none;
}
legend {
	color: #eee;
}
input.readonlyinput {
	color: #eee;
	font-weight: bold;
}

footer p {
	color: #f2f2f2;
	text-align: center;
}
footer a {
	color: #aeaeae;
	font-weight: 700;
}
footer a:hover {
	color: #f2f2f2;
	text-decoration: none;
}

/* RESPONSIVE STYLES */
@media (min-width: 980px) {
	.hidden-lg {
		display: none;
	}
	.jumbotron {
		background: url('../img/background-image.jpg') fixed;
	}
}
@media (max-width: 979px) {
	body {
		margin-top: 0;
		padding-top: 0;
	}
	.visible-lg {
		display: none;
	}
	.navbar-fixed-top .navbar-inner,
	.navbar-fixed-bottom .navbar-inner {
		padding: 0;
	}
	.navbar .btn-navbar {
		position: absolute;
	}
	.navbar .container-fluid {
		text-align: center;
	}
	.navbar a.brand {
		float: none;
	}
	.navbar .nav > li {
		border: 0;
	}
	.navbar .nav > li:hover {
		background: transparent;
	}
	.navbar .nav > li:hover > p,
	.navbar .nav > li:hover > p .navbar-link,
	.navbar .nav > li:hover > a,
	.navbar .nav > li:hover > a:hover {
		color: #333 !important;
	}

}

.episodebox {
	margin-left:0;
}

.sectionTitle {
	padding-left:0px;
}

.episode_image {
	width:80%;
}