/*
CLASSES COMMON TO ALL THE THEMES
Can be loaded through the string -----PG_COMMONCSSLOAD----- in each theme
*/

body {
	padding-top: 60px;
	padding-bottom: 40px;
}
.sidebar-nav {
	padding: 9px 0;
}

.rightbox {
	min-height: 20px;
	padding: 15px;
	margin-bottom: 20px;
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.episode_title {
	margin:0;
	padding:0;
}

.episode_date {
	margin-top:-5px;
}
.episode_info {
	font-size:0.8em;
}


label {
	display:block;clear:both;
	font-weight:bold;
}

.importantSection {
	padding: 1em 1em 1em 0;
	margin-bottom:2em;
}


.alert {
	height:auto;
	width:auto;
	padding:3px;
	padding-left:0;
	border:0;
	background-color:transparent;
}


.readonlyinput, .readonlyinput:enabled, .readonlyinput:disabled, .readonlyinput:focus {
	width:25px;
	background-color:transparent;
	outline:none;
	box-shadow:none;
	border:0;
	margin:0;
	padding:0;
}


/* Loader (hidden by default) */
#status_notification {
	position: fixed; /* fixed so it doesn't scroll */
	left: 45%;
    top: 40%;
	width:128px;
	height:128px;
	display: none;
	visibility: hidden;
	/* Loader Image & size */
	background: url('../loading.gif') no-repeat bottom;
	background-color: #000;
	color: #FFF;
	margin: 0px;
	padding: 20px;
	text-align:center;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	}

