/*
CLASSES COMMON TO ALL THE THEMES
Can be loaded through the string -----PG_COMMONCSSLOAD----- in each theme
*/

label {
display:block;clear:both;
font-weight:bold;
}

.importantSection {
padding: 25px;
padding-top:0;
background-color:#EEE;
-moz-border-radius: 15px;
border-radius: 15px;
}

.sectionTitle {
padding-left:20px;
}

.alert {
height:auto;
width:auto;
padding:3px;
padding-left:0;
border:0;
background-color:transparent;
}


.readonlyinput, .readonlyinput:enabled, .readonlyinput:disabled, .readonlyinput:focus {
width:25px;
background-color:transparent;
outline:none;
box-shadow:none;
border:0;
margin:0;
padding:0;
}