/*  Custom CSS for
    Podcast Generator

    by Randy Greene
    RG Creative
    http://discoverRG.com
 */

body {
	margin-top: 135px;
	padding: 0 !important;
	background: #efefef;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 21px;
}
.navbar.navbar-inverse.navbar-fixed-top {
	margin: 0;
}
.navbar-inverse .navbar-inner {
	background: #fefefe;
}
.navbar-inverse .navbar-inner .container-fluid {
	padding-top: 0;
	padding-bottom: 20px;
	text-align: center;
}
.navbar a.brand {
	float: none;
	display: inline-block;
	margin-bottom: 10px;
	padding: 20px 15px;
	background: #363636;
	border-radius: 0 0 4px 4px;
	text-align: center;
	color: #f2f2f2;
	font-size: 28px;
	font-weight: 700;
}
.navbar .nav {
	left: 0;
	right: 0;
	float: none;
	text-align: center;
}
.navbar .nav > li {
	float: none;
	display: inline-block;
	vertical-align: top;
}
.navbar .nav > li > p {
	margin: 0;
	padding: 10px 15px;
	color: #8a8a8a;
}
.navbar-inverse .nav > li > a,
.navbar-inverse .nav .active > a,
.navbar-inverse .nav-collapse .dropdown-menu a:hover {
	background: transparent;
	color: #8a8a8a;
	text-shadow: none;
	box-shadow: none;
}
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
	border-top-color: #8a8a8a;
	border-bottom-color: #8a8a8a;
}
.navbar-inverse .nav li.dropdown > a:hover .caret {
	border-top-color: #8a8a8a;
	border-bottom-color: #8a8a8a;
}
.navbar-inverse .navbar-link:hover,
.navbar-inverse .nav-collapse .nav > li > a:hover,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
	color: #363636;
	background: transparent;
	text-shadow: none;
	box-shadow: none;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
	color: #363636;
	background: transparent;
}
.dropdown-menu {
	text-align: left;
}

.jumbotron {
	padding: 60px 0;
	background: url('../img/pattern_013.png');
}
.container-fluid.dark {
	padding: 25px 0;
	background: #363636 url('../img/cross-pattern.png');
}
.container.mainbody {
	padding: 25px 0;
}
.centered {
	text-align: center;
}
.no-margin {
	margin: 0;
}
a.btn.btn-large {
	margin: 15px 45px;
	padding: 15px 30px;
}

.topseparator {
	padding: 10px 25px;
}

footer p {
	color: #f2f2f2;
	text-align: center;
}
footer a {
	color: #aeaeae;
	font-weight: 700;
}
footer a:hover {
	color: #f2f2f2;
	text-decoration: none;
}

/* RESPONSIVE STYLES */
@media (max-width: 979px) {
	body {
		margin-top: 0;
		padding-top: 0;
	}
	.navbar-fixed-top .navbar-inner,
	.navbar-fixed-bottom .navbar-inner {
		padding: 0;
	}
	.navbar .btn-navbar {
		position: absolute;
	}
	li.wide {
		width: 75%;
	}

}


.episodebox {
	margin-left:0;
}

.sectionTitle {
	padding-left:0px;
}

.episode_image {
	width:80%;
}

.row-fluid {
	clear:both;
	width:100%;
	margin:0;
	padding:0;
}
