body{	margin:0;
	margin-top:20px;
	margin-bottom:20px;	background-color:#fff;}
	
.container {
	width:640px;	margin: 0 auto 0;	padding:30px;	padding-top:10px;	text-align:left;
	border-top:2px solid #00688B;	border-bottom:1px solid #00688B;
	font-family: 'Didact Gothic', sans-serif;
	background-color:#fff;
	}
	



a:link, a:active, a:visited {
	text-decoration:underlined;
	color:#00688B;
	}

a:hover {
	color:#5F9EA0;
	} 
input, textarea, select {font-family: 'Didact Gothic', sans-serif;   border: 1px solid #555;   font-size: 1em;   line-height: 1.2em; }input {	height:30px;	padding-top:0;}
.nav {color:#00688B;}